<.tabs active={@active_tab}>
  <:tab id="access_tokens" title="Access Tokens">
    Not implemented.
  </:tab>

  <:tab id="admins" title="Administrators">
    Not implemented.
  </:tab>

  <:tab id="account" title="Account">
    <.live_component module={AccountComponent} id="account" current_admin={@current_admin} />
  </:tab>
</.tabs>
